target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.settings
rpncalc-rpn-andrianina-dylan/.settings
rpncalc-rpn-andrianina-dylan/bin
rpncalc-rpn-andrianina-dylan/.classpath
rpncalc-rpn-andrianina-dylan/.project

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# IntelliJ files
.idea/
maven-exemple.iml

.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/fr/.DS_Store
src/main/java/fr/uvsq/.DS_Store
src/main/java/fr/uvsq/poo/.DS_Store
